.form-container {
    border: solid 1px #fff ;
    padding: 40px;
    /* margin: 5rem, 18rem, 0, 18rem;*/
    height: auto;
    width: 60%;
    text-align: center;
    display: block;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 41px 7px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 41px 7px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 41px 7px rgba(0,0,0,0.4);
}

.header {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(22,41,16,0.5)), url(/static/images/pickneat_login.png);
    background-size: cover;
    color:#28a745;
    padding: 4rem;
}

.header a {
    text-align: center;
}
.bg-image {
    background-image: url('/static/images/login-page.jpg');
    background-size: cover;
}



.green{
    color: #5f5;
}
.white {
    color: #f23;
}

nav {
    background-color: yellow;
}

#login {
    border: solid 1px #fff ;
    padding: 40px;
    /* margin: 5rem, 18rem, 0, 18rem;*/
    height: auto;
    width: 30%;
    text-align: center;
    display: block;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 41px 7px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 41px 7px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 41px 7px rgba(0,0,0,0.4);
}

#apply-form {
    border: solid 1px #fff ;
    padding: 6rem;
    height: 100%;
    width: 60%;
    text-align: center;
    display: block;
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 41px 7px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 41px 7px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 41px 7px rgba(0,0,0,0.4);
}

#contact-form {
    border: solid 1px #fff ;
    padding: 3rem;
    height: 100%;
    width: 60%;
    text-align: center;
    display: block;
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 41px 7px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 41px 7px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 41px 7px rgba(0,0,0,0.4);
}

.bold-4 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.bold-2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.btn-2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

/* To Remove Underline from Hyperlinks */
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

  /* ------------------------------------------
                Pagination style
    -------------------------------------------*/

    .items-container {
        margin-top: 50px;
        min-height: 160px;
    }
    
    /* .items-container .item {
        padding: 0 0 10px 0;
    } */
    
    .items-container .item span {
        font-size: 11px;
        color: rgb(189, 189, 189);
    }
    
    .pagination-indicator {
        font-size: 14px;
        color: rgb(189, 189, 189);
        text-align: left;
    }
    
    .pagination-container {
        list-style: none;
    }
    
    .pagination-container .pagination__item {
        margin: 0 10px 0 0;
        padding: 0;
        display: inline-block;
        text-align: right;
    }
    
    .pagination-container .pagination__item .pagination__link {
        display: block;
        padding: 10px 15px;
        background-color: rgba(85, 85, 85, .1);
        color: #28a745;
        text-decoration: none;
        border-radius: 27px;
    }
    
    .pagination-container .pagination__item--current .pagination__link {
        color: rgb(255, 255, 255);
        background-color: #28a745;
        font-weight: 500;
    }