{% if session.get("username") %}
    {%extends "layout2.html" %}
{% else %}
    {%extends "layout.html" %}
{% endif %}

{% block title %}
    Browse menu
{%endblock%}

{% block main %}
<div class="container ">
  <div class="row items-container mt-5">
      {% for menu in menus %}
        <div class="col-md-3 col-sm-12 mt-2 mb-3 text-center item item-visible">
          <div class="card">
                <img src={{menu["image"]}}  type="submit" class="card-img-top" alt="Preview Unavailiable">
                <div class="card-body">
                  <h5 class="card-title">{{menu["name"]}}</h5>
                  <p class="card-text">{{menu["description"]}}.</p>
                  <p class="card-text">Price: &#8358;{{menu["price"]}} <small class="text-danger"><strike>&#8358;{{menu["price"] * 1.5}}</strike></small></p>
                  <p><a href="/order_menu/{{menu['id']}}" class="btn btn-success">Order Menu</a></p>
                </div>
            </div>
          </div>
      {% endfor %}
      <div class="row">
        <div class="pagination-indicator"></div> 
        <ul class="pagination-container"></ul>
      </div>
  </div>
</div>
<script>
      (function($){

    // Initiate the paginator on the .items-container element.
    var paginator = new $('.items-container').joldPaginator({
        'perPage': 8,
        'items': '.item',
        'paginator': '.pagination-container',
        'indicator': {
            'selector': '.pagination-indicator',
            'text': 'Showing item {start}-{end} of {total}',
        }
    });


    // Toggle items
    $('body').on('change', '.js-toggle-items', function(e) {
      e.preventDefault();

        var checked = this.checked;

        $('.items-container').find('.item')
            .removeClass('item-hidden')
            .addClass('item-visible');

        // Include historical reports (invalid)
        if ( checked == true ) {
            $('.items-container').find('.item-toggleable')
                .removeClass('item-hidden')
                .addClass('item-visible');
        }

        // Exclude historical reports (invalid)
        if ( checked == false ) {
            $('.items-container').find('.item-toggleable')
                .removeClass('item-visible')
                .addClass('item-hidden');
        }

        // Reset the paginator
        paginator.init();

    });

})(jQuery);
</script>
{% endblock %}
