{%extends "layout.html" %}

{% block title %}
    Log In 
{%endblock%}

{% block main %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Pick'n'Eat!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div> <br>
<div class="container row">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Food Name</h5>
          <p class="card-text">Some quick example text about the food and availability</p>
          {% if not session.user_id %}
          <a href="/templates/login.html" class="btn btn-primary">Order</a>
          {% else %}
          <a href="/templates/order_view.html" class="btn btn-primary">Order</a>
          {% endif %}

        </div>
      </div>

</div>
  

{% endblock %}
