{%extends "layout.html" %}

{% block title %}
    Pick 'n' Eat
{%endblock%}

{% block main %}
<div class="header">
    <h1 class="bold-4">Welcome to Pick'n'Eat!</h1>
    <p class="bold-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde expedita vero sapiente est rerum atque omnis rem praesentium autem quisquam ea iusto facere alias ducimus, libero repudiandae itaque sequi ad.</p>
    <p class="btn-2"><a  href="/browse" class="btn btn-success btn-lg"> Browse Menu </a></p>
  </div>

  <div class="container ">
          <div class="card mt-5 mb-2">
            <div class="card-header bg-success">
              <div class="card-title">
                <h3 class="font-weight-bolder text-center text-white"> MENU FOR YOU</h3>
              </div>
            </div>
            <div class="card-body">
                <div class="row">
              {% for menu in menus %}
                <div class="col-md-4 col-sm-12 mt-2 mb-3 text-center">
                  <div class="card menu-card">
                        <img src={{menu["image"]}}  type="submit" class="card-img-top menu-card-head" alt="Preview Unavailiable">
                        <div class="card-body">
                          <h5 class="card-title">{{menu["name"]}}</h5>
                          <p class="card-text">{{menu["description"] | truncate(70)}}.</p>
                          <p class="card-text">Price: &#8358;{{menu["price"]}} <small class="text-danger"><strike>&#8358;{{menu["price"] * 1.5}}</strike></small></p>
                        </div>
                        <div class="card-footer">
                            <p><a href="/order_menu/{{menu['id']}}" class="btn btn-success">Order Menu</a></p>
                        </div>
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
      </div>
    </div>
{% endblock %}
