<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <link href="/static/sidebar.css" rel="stylesheet">
    <script src='static/Chart.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/jquery.jold.paginator.min.js"></script>

    <title> {% block title %}{% endblock title %}</title>
</head>
{% block body%}
<body>
{% endblock %}
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
                <a class="navbar-brand" href="/dashboard"><span class="green">Pick</span><span class="white">n</span><span class="green">Eat</span><span class="green"></a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-auto mt-2">
                            {%if session["user_type"] == "user" or session["user_type"] == "vendor" and session["user_view"] == "user" %}
                            <li class="nav-item"><a class="nav-link" href="/display_cart"><span><?xml version="1.0" ?>
                                <svg height="30" viewBox="0 0 1792 1792" width="30" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1792 768q53 0 90.5 37.5t37.5 90.5-37.5 90.5-90.5 37.5h-15l-115 662q-8 46-44 76t-82 30h-1280q-46 0-82-30t-44-76l-115-662h-15q-53 0-90.5-37.5t-37.5-90.5 37.5-90.5 90.5-37.5h1792zm-1435 800q26-2 43.5-22.5t15.5-46.5l-32-416q-2-26-22.5-43.5t-46.5-15.5-43.5 22.5-15.5 46.5l32 416q2 25 20.5 42t43.5 17h5zm411-64v-416q0-26-19-45t-45-19-45 19-19 45v416q0 26 19 45t45 19 45-19 19-45zm384 0v-416q0-26-19-45t-45-19-45 19-19 45v416q0 26 19 45t45 19 45-19 19-45zm352 5l32-416q2-26-15.5-46.5t-43.5-22.5-46.5 15.5-22.5 43.5l-32 416q-2 26 15.5 46.5t43.5 22.5h5q25 0 43.5-17t20.5-42zm-1156-1217l-93 412h-132l101-441q19-88 89-143.5t160-55.5h167q0-26 19-45t45-19h384q26 0 45 19t19 45h167q90 0 160 55.5t89 143.5l101 441h-132l-93-412q-11-44-45.5-72t-79.5-28h-167q0 26-19 45t-45 19h-384q-26 0-45-19t-19-45h-167q-45 0-79.5 28t-45.5 72z"/>
                                </svg><k class="cart">{{session["cart"]}}</k></span></a></li>
                            {% endif %}
                            {% if session["user_type"] != "admin" %}
                                <li class="nav-item nav-link"><span class="btn btn-outline-dark" id="balance"></span></li>
                             {% endif %}
                            <li class="nav-item"><a class="nav-link" href="/profile"><span class="btn btn-outline-success">{{session["username"]}}</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout"><span class="btn btn-danger">Log Out</span></a></li>
                        </ul>
                </div>
            </nav>
                    <div class="wrapper">
                            <!-- Sidebar Holder -->
                            <nav id="sidebar">
                                <div class="sidebar">
                                    {% if session["user_type"] == "admin" %}
                                        <ul>
                                                <li><a href='/dashboard' > Dashboard </a></li>
                                                <li><a href='/transaction_log' > View Transactions </a></li>
                                                <li><a href='/menu_log' > View Menus </a></li>
                                                <li><a href='/manage_users' > Manage Users </a></li>
                                                <li><a href='/order_log' > View Orders </a></li>
                                                <li><a href='/vendor_verification' > Vendor Application </a></li>
                                        </ul>
                                    {% elif  session["user_type"] == "vendor" and session["user_view"] == "vendor" %}
                                        <ul>
                                                <li><a href='/dashboard' > Dashboard </a></li>
                                                <li><a href='/manage_order' > Manage Orders </a></li>
                                                <li><a href='/withdraw' > Withdraw </a></li>
                                                <li><a href='/profile' > Edit Profile </a></li>
                                                <li><a href='/manage_menu' > Manage Menu </a></li>
                                                <li><a href='/transaction_history' > Transaction History </a></li>
                                                <li><a href='/order_history' > Order History </a></li>
                                                <li><a href='/contact' > Contact Admin </a></li>
                                        </ul>
                                    {% else %}
                                        <ul>
                                                <li><a href='/dashboard'> Dashboard </a></li>
                                                    <li><a href='/fund' > Fund Account </a></li>
                                                    <li><a href='/browse' > Browse Menu </a></li>
                                                    <li><a href='/profile' > Edit Profile </a></li>
                                                    <li><a href='/apply' > Become a Vendor </a></li>
                                                    <li><a href='/transaction_history' > Transaction History </a></li>
                                                    <li><a href='/order_history' > Order History </a></li>
                                                    <li><a href='/contact' > Contact Admin </a></li>
                                        </ul>
                                    {% endif %}
                                </div>
                                {% if  session["user_type"] == "vendor" and session["user_view"] == "vendor" %}
                                        <div class="switch">
                                            <a href="/switch_view/user">
                                                <button type="submit" class="btn btn-info btn-block">Switch to Buyer</button>
                                            </a>
                                        </div>
                                {% endif %}
                                {% if  session["user_type"] == "vendor" and session["user_view"] == "user" %}
                                <div class="switch">
                                    <a href="/switch_view/vendor">
                                        <button type="submit" class="btn btn-info btn-block">Switch to Seller</button>
                                    </a>
                                </div>
                            {% endif %}
                            </nav>
                
                            <!-- Page Content Holder -->
                            <div id="content">
                                <label  id="toggle-sidebar" class="btn btn-outline-success"  type="button">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </label>
                                <div class="container">
                                    <main>
                                        <div class="container text-center">
                                                {% with messages = get_flashed_messages(with_categories=true) %}
                                                {% if messages %}
                                                    {% for category, message in messages %}
                                                        <div class="alert alert-{{category}} font-weight-bold alert-dismissible fade show" role="alert">
                                                            {{message}}
                                                            <button type="button" id="flashMsg" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                                {% endwith %}
                                            </div>
                                        {% block main %}{% endblock main %}
                                    </main>
                                </div>
                                
                            </div>
            {% block script%}                            
            <script>
                let isSidebarActive = false;
                $("document").ready(function(){
                    $("#toggle-sidebar").on("click", function(){
                        if (!isSidebarActive) {
                            $("#sidebar").addClass('deactivate');
                            isSidebarActive = true;
                        } else {
                            $("#sidebar").removeClass('deactivate');
                            isSidebarActive = false;
                        }
                    })

                    $.ajax({
                        type: "post",
                        url: "/get_balance",
                        contentType: "application/json; charset=utf-8",
                        data : JSON.stringify({username: "{{session["username"]}}"}),
                        dataType: "json",
                        success: function (response) {
                            if (response["res"] == "success"){
                                $("#balance").html(`Acc Balance: &#8358;${response["balance"]}`)
                            }
                        }
                    });
                                
                    setTimeout(() => {
                        $("#flashMsg").click();
                    }, 3000);
                })
            </script>
        {% endblock %}
</body>
</html>
