{%extends "layout2.html" %}

{% block title %}
    Order History 
{%endblock%}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>S/N</th>
                <th>Food Ordered</th>
                <th>Vendor</th>
                <th>Price</th>
                <th>Quantity Ordered</th>
                <th>Total Price</th>
                <th>Time</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            
            <tr>
                <td></td>
                <td> </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
